/* --------------
    HEADER
-----------------*/

header{
    color: white;
    background-color: #0084fd;
    padding: 1.125rem 0;
    position: sticky;
    top: 0;
}


/* --------------
    RESPONSIVE
-----------------*/


.logo img{
    width: 3.75rem
}

.header-nav{
    display: none;
}

@media screen and (min-width: 992px){
    .header-menu{
        display: none;
    }
    .header-nav{
        display: block;
    }
}